#rectangle {
    width: 75px;
    height: 600px;
    background: white;
    border: 3px solid #781614;
    position: relative;
    left: 450px;
    top: 50px;
    bottom: 455px;
}
#rectangle2{
    width: 100px;
    height: 10px;
    background: transparent;
    border: #dad8ff;
}
#rectangle3 {
    width: 210px;
    height: 170px;
    background: white;
    border: 3px solid #8f0d7f;
    position: relative;
    left: 533px;
    bottom: 340px;
}
#rectangle4 {
    width: 160px;
    height: 130px;
    background: white;
    border: 3px solid #233494;
    position: relative;
    left: 560px;
    bottom: 495px;
}
#rectangle5 {
    width: 75px;
    height: 600px;
    background: white;
    border: 3px solid #e71a0c;
    position: relative;
    left: 750px;
    bottom: 880px;
}